<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Smetana.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Smetana.Properties.Settings>
            <setting name="AudioFiles" serializeAs="String">
                <value>.aac;.ac3;.amf;.amr;.ape;.au;.cda;.cdr;.cpr;.flac;.flp;.kar;.m3u;.mid;.mmf;.mod;.mp1;.mp2;.mp3;.mpa;.ogg;.pcm;pls;.ram;.wav;.wma</value>
            </setting>
            <setting name="Documents" serializeAs="String">
                <value>.doc;.docx;.ppt;.pptx;,xls;.xlsx;.csv;.txt;.rtf;.pdf</value>
            </setting>
            <setting name="VideoFiles" serializeAs="String">
                <value>.avi;.mkv;.mp4</value>
            </setting>
            <setting name="ImageFiles" serializeAs="String">
                <value>.jpg;.jpeg;.png;.gif;.tiff</value>
            </setting>
        </Smetana.Properties.Settings>
    </userSettings>
</configuration>
